#particles-js {
	background-color: #010409;
	position: relative;
	filter: blur(1px);
	overflow: hidden;
	height: 745px;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	border: 1px solid green;
}

canvas{
  display:block;
  vertical-align:bottom;
}
